/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #1e1e1e;
    color: #fff;
  }
  
  .player {
    text-align: center;
  }
  
  #fileInput {
    margin: 20px;
  }
  
  .controls button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  